input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 1px;
  box-sizing: border-box;
}

body{
  color: var(--secondary-color);
}
.show {
  background-color: var(--secondary-color);
}
.submit {
  font-family: "Century Gothic", "Lato", sans-serif;;
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  border: 3px solid var(--secondary-color) !important;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color:var(--secondary-color);
  border: 3px solid var(--secondary-color);
}
